$Color_White_1: #ffffff;
$Color_White_2: #efecf2;
$Color_Grey_1: #7D7D8D;
$Color_Grey_2: #E3E2EC;
$Color_Grey_3: #434346;
$Color_Black_1:#363644;
$Color_Black_2:#545460;
$Color_Lilac_1: #757DEE;
$Color_Lilac_2: #6f77e6;
$Color_Lilac_3: #d7d9f0;
$Box_Shadow: 0 0.5rem 3rem #848bc82e;
$Color_Yellow: #FFCD41;
$Color_Blue_1: #0197f6;
$Color_Blue_2: #56bafa;
$Color_Pink: #aa2a6a;
$Color_Green: #00b37c;